.createBlockWrapper{
    margin-top: 100px;
    .title,
    .description{
        border: none;
        border-bottom: 1px solid black;

        &:focus{
            outline: none;
        }

        &::placeholder{
            color: #DFDDE8;
        }
    }

    .label{
        display: block;
        color: #939BB4;
    }
}