.createBlockWrapper{
    width: 80%;
    margin: 100px auto;

    .blockTitle{
        font-size: 35px;
        color: #2E3856;
    }
    .title,
    .description{
        border: none;
        border-bottom: 2px solid black;
        width: 500px;

        &:focus{
            outline: none;
        }

        &::placeholder{
            color: #DFDDE8;
        }
    }

    .label{
        display: block;
        color: #939BB4;
    }
}