.createBlockWrapper{
    width: 80%;
    margin: 100px auto;

    .create{
        border-radius: 0.55rem;
        border: none;
        background-color: #361293;
        height: 50px;
        width: 100px;
        color: #fff;
        font-weight: 500;
        font-size: 15px;
        float: right;
        margin-top: 15px;
        &:hover{
            background-color: #5f33ce;
        }
    }

    .blockTitle{
        font-size: 35px;
        color: #2E3856;
    }
    .title{
        border: none;
        border-bottom: 2px solid black;
        width: 500px;

        &:focus{
            outline: none;
        }

        &::placeholder{
            color: #DFDDE8;
        }
    }

    .label{
        display: block;
        color: #939BB4;
    }
}

@media screen and (max-width: 585px ){
     .createBlockWrapper{
        .title{
            width: 300px;
        }
    }
}

@media screen and (max-width: 360px){
    .createBlockWrapper{
        .title{
            width: 150px;
        }
    }
}