header{
    background-color: #F6F7FB;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    .h1Title{
        display: block;
    }

    h1{
        font-family: 'Cinzel', serif;
        letter-spacing: 9px;
        color: #4D20C0;
        font-weight: 600;
        margin-left: 45px;
        cursor: pointer;
    }
    .faBar{
        font-size: 3rem;
        color: #4D20C0;
        cursor: pointer;
        visibility: hidden;
        opacity: 0; }

    .community{
        text-align: none;
        text-decoration: none;
        color: black;
        margin: 35px auto;
        letter-spacing: 1px;
        color: #4D20C0;
        font-weight: 500;
        cursor: pointer;

        &:hover{
            color: #724ad8;
        }
    }
    display: flex;
    .user{
        right: 0;
        margin: 25px auto;
        .username{
            border-radius: 9px;
            letter-spacing: 2px;
            cursor: pointer;
            font-size: 25px;
            padding: 5px;

            &:hover{
                background-color: #dcdcdc ;
            }

        }
    }


    .optionmenu{
        margin-top: 2px;
        display: inline-block;
        border: 1px solid #acacac;
        border-radius: 0.85rem;
        position: absolute;
        background-color: #ffffff;


        p{
            transition: 0.25s;
            border-radius: 4px;
            font-size: 25px;
            color: #4d20c0d8;
            cursor: pointer;
        }

    }
    .h1Adapt{
        display: none;
    }

    .headerAdapt{
        margin-top: 90px;
        display: none;
        position: absolute;
        z-index: 999;
        border: 1px solid #777777d8;
        background-color: hsl(0, 0%, 100%);
        width: 100%;
        .community{
            color: black;
            margin-left: 50px;
        }
        .user{
            margin-left: 50px;
        }
    }
}

@media screen and (max-width: 1070px){
    header{
    .community{
        display: none;
    }
    .user{
       display: none;
    }
    .faBar{
        visibility: visible;
        opacity: 1;
        margin-top: 20px;
        margin-left: 50px;
    }
    .headerAdapt{
        display: block;
        .user{
            display: block;
        }
        .community{
            display: block;
        }
    }
    }
}

@media screen and (max-width: 610px) {
    header{
    .h1Title{
        display: none;
    }
    .h1Adapt{
        display: block;
    }
    .faBar{
        margin-left: 80px;
    }
}
}

@media screen and (max-width: 383px) {
    header{
        .h1Adapt{
            margin-top: 30px;
            font-size: 1.5rem;
            margin-left: 65px;
        }
        .faBar{
            margin-left: 5%;
        }
    }
}