@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
.addWrap{
    display: flex;
    margin-top: 100px;
    .addIcon{
        width: 30px;
        margin-left: 10px;
        margin-top: 14px;
    }
    p{
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        font-size: 20px;
        margin-left: 40px;
    }
}

.bannerWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 30px;

    .moduleCardWrapper{
        flex: 0 0 30%;
        padding: 10px;
    }
}

.favoriteTitle{
    margin-left: 40px;
}

.favouritesAvailable{
    margin-left: 40px;
}

@media screen and (max-width: 850px) {
    .bannerWrapper{
        .moduleCardWrapper{
            flex: 0 0 40%;
        }
    }
}
@media screen and (max-width: 600px) {
    .bannerWrapper{
        .moduleCardWrapper{
            flex: 0 0 70%;
        }
    }

}