.search{
    margin: 35px auto;
    width: 500px;
    border: 1px solid #acacac;
    border-radius: 0.55rem;
    font-size: 15px;

    &:focus{
        border: 1px solid #6a6a6a;
        outline: none;
    }
}

@media screen and (max-width: 950px){
    .search{
        width: 400px;
    }
}

@media screen and (max-width: 852px){
    .search{
        width: 300px;
    }
}

@media screen and (max-width: 750px){
    .search{
        width: 150px;
    }
}

@media screen and (max-width: 610px) {
    .search{
        margin-left: 25px;
        width: 350px;
    }
}

@media screen and (max-width: 555px) {
    .search{
        width: 250px;
    }
}

@media screen and (max-width: 490px){
    .search{
        width: 150px;
    }
}

@media  screen and (max-width:386px) {
    .search{
        width: 130px;
    }
}