.search{
    margin: 35px auto;
    width: 500px;
    border: 1px solid #acacac;
    border-radius: 0.55rem;
    font-size: 15px;

    &:focus{
        border: 1px solid #6a6a6a;
        outline: none;
    }
}