.title{
    margin-top: 110px;
    margin-left: 80px;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 20px;
}

.buttonWrapper{
    display: flex;
    justify-content: center;
    
    button{
        margin-top: 10px;
            margin-right: 5px;
            padding: 5px 10px;
            cursor: pointer;

            border-radius: 0.55rem;
            font-size: 18px;;
            border: 1px solid #acacac;
            background-color: rgba(255, 0, 0, 0);
            &:hover{
              border: 1px solid #4D20C0;
            }

    }
}
