.wrapper{
    border: 1px solid #acacac;
    border-radius: 0.85rem;
    cursor: pointer;

    

    .moduleName{
        margin: 1.25rem;
        font-weight: 500;
    }

    .terms,
    .author{
        margin: 1.25rem;
    }
    &:hover{
        border: 1px solid #4D20C0;
    }
}