.blockWrapper{
    background-color: #F6F7FB;
    padding: 50px;
    padding-top: 10px;
    border-radius: 8px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 30px;

    .index{
        font-size: 20px;
    }

        .term,
        .definition{
            border: none;
            border-bottom: 2px solid black;
            width: 500px;
            margin-right: 30px;
            font-size: 20px;
            transition: 0.3s;
            background-color: #F6F7FB;

            &:focus{
                outline: none;
                border-bottom: 2px solid #FFC673;;
            }
            &::placeholder{
                color: #939BB6;
            }
        }

}

.addCardWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F7FB;
    padding: 50px;
    padding-top: 43px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    .addCard{
        border: none;
        background: transparent;
        border-bottom: 7px solid #001effc7;
        transition: 0.3s;

        &:hover{
            color: #FFC673;
            border-bottom: 7px solid #FFC673;
        }
    }
}

@media screen and (max-width: 1476px) {
    .blockWrapper{
        width: 90%;
        .term,
        .definition{
            width: 43%;
        }
    }
    .addCardWrapper{
        width: 90%;
    }
}

@media screen and (max-width: 750px) {
    .blockWrapper{
        width: 90%;
        .term,
        .definition{
            width: 43%;
        }
    }
}

@media screen and (max-width: 690px){
    .blockWrapper{
        width: 70%;
        .definition{
            margin-top: 15px;
        }
    }
    .addCardWrapper{
        width: 70%;
        margin-left: 20px;
    }
}

@media  screen and (max-width: 540px) {
    .blockWrapper{
        .term,
        .definition{
            width: 100%;
        }
    }
    .addCardWrapper{
        width: 65%;
        margin-left: 10px;
    }
}