@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap');
 .App{
    font-family: 'Rubik', sans-serif;
}
/*
.signup-form,
.login-form{
    display: flex;
    flex-direction: column;
}

input,
.signup-button,
.login-button{
    margin: 5px 0px;
}

.signup-button,
.login-button{
    cursor: pointer;
} */